/* The side navigation menu */
/* The sidenav */
.sidenav {
    width: 170px;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 23px;
    color: #f1f1f1;
    display: block;
    transition: 0.5s;
    text-align: -webkit-center;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #de2c2c;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}