nav .navbar-brand{
    margin-right: 50px;
}
.img-fluid, .popular-image{
    width: 184px;
    height: 176px;
}
.img-fluid, .compare-image{
    width: 164px;
    height: 156px;
}
.img-fluid, .latest-image{
    width: 70px;
    height: 68px;
}
.slick-track{
    padding-bottom: 30px;
}
#content{
    padding-top: 20px;
}
#container div h2{
    padding-top: 15px;
}
#container h2{
    padding-top: 15px;
}
#table-container{
    min-height: 500px;
    padding-top: 15px;
}
thead tr th{
    text-align: center;
}
tbody tr td{
    text-align: center;
}